<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @desk.user_name %>
</p>

<p>
  <strong>Desk:</strong>
  <%= @desk.desk %>
</p>

<p>
  <strong>From date:</strong>
  <%= @desk.from_date %>
</p>

<p>
  <strong>To date:</strong>
  <%= @desk.to_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @desk.status %>
</p>

<p>
  <strong>Email:</strong>
  <%= @desk.email %>
</p>

<%= link_to 'Edit', edit_desk_path(@desk) %> |
<%= link_to 'Back', desks_path %>
